<%- include('layouts/header'); -%>



    <div class="container p-5">
        <div class="jumbotron mt-4">
            <h1 class="display-4">Notas</h1>
            <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, eveniet ipsam sapiente in quo consequuntur.</p>
            <hr class="my-4">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum minima voluptate voluptas sequi earum nesciunt?</p>
            <a href="#" class="btn btn-primary">Mi Web</a>
        </div>
    </div>


    

<%- include('layouts/footer'); -%>